<aside class="col-sm-5 col-md-5 col-lg-4"> <!-- Sidebar column -->
            <h2>Hosted by</h2>
            <% @show["hosts"].each do |host| %>
            <h3 class="host-name"><%= host["name"] %></h3>
            <div class="row">
              <div class="col-xs-3">
                <img class="img-responsive host-img" src="/images/hosts/<%= host["photo"] ? host["photo"] : "profile.png" %>"/>
              </div>
              <div class="col-xs-9">
                <ul class="list-unstyled host-links">
                  <% if host["website"] %>
                  <li><a href="http://<%= host["website"] %>"><i class="fa fa-globe fa-fw"></i> <%= host["website_text"] %> </a></li><% end %>
                  <% if host["twitter"] %><li><a href="http://twitter.com/<%= host["twitter"] %>"><i class="fa fa-twitter fa-fw"></i> <%= host["twitter"] %></a></li><% end %>
                </ul>
              </div>
            </div>
            <% end %>
            <% if @show["praise"] %>
            <div class="press">
              <h4>Praise for <%= @show["title"] %></h4>
              <% @show["praise"].each do |praise| %>
              <div class="quote">
                <img class="pull-left quote-img" src="/images/assets/quote.png" />
                <p><%= praise["quote"] %></p>
                <p class="attribution">- <%= if praise["link"].empty?
                  praise["name"]
                else
                  "<a href=\"http://#{praise["link"]}\">#{praise["name"]}</a>"
                end %></p>
              </div>
            <% end %>
            </div>
            <% end %>
            <div class="support-sidebar">
              <h3>The Show Must Go On</h3>
              <p>If you like what we're doing, then help us keep the lights on and the episodes coming!</p>
              <p><a href="/support" class="btn btn-lg btn-support" onclick="ga('send', 'event', 'support', 'click', 'from_show', 1);"><i class="fa fa-thumbs-up fa-fw"></i> Support The Show</a></p>
            </div>
          </aside> <!-- End of Sidebar -->
