<% @show = @shows.find { |show| show["title"] == current_blog.options.name } %>
<!DOCTYPE html>
<html lang="en">
  <%= partial "layouts/head" %>
  <body>
    <%= partial "layouts/header" %>
      <section class="subheader"> <!-- Show artwork, title, description, and subscribe buttons -->
      <div class="container">
        <div class="row">
          <div class="col-sm-5 col-md-4">
            <a href="/<%= @show["prefix"] %>"><img class="img-responsive" src="/images/<%= @show["album_art"] %>"/></a>
          </div>
          <div class="col-sm-7 col-md-7">
            <h1 class="show-title"><%= @show["title"] %></h1>
            <p><%= @show["description"] %></p>
            <p><% if @show["itunes"] %><a href="<%= @show["itunes"] %>" class="btn btn-itunes" role="button"><i class="fa fa-music"></i> iTunes</a> <% end %><a href="pcast://sunriserobot.net/<%= @show["prefix"] %>/feed.xml" class="btn btn-rss" role="button"><i class="fa fa-rss"></i> RSS</a></p>
          </div>
        </div>
      </div>
    </section> <!-- End Show art, title, etc. -->

    <section class="main-content"> <!-- Recent Episodes & Sidebar -->
      <div class="container">
        <div class="row">
           <article class="col-sm-7 col-md-8 col-sm-push-5 col-md-push-4"> <!-- Recent Episodes column -->
            <h2>Recent Episodes</h2>
            <ul class="list-unstyled list-episodes">
            <% blog.articles.each do |episode| %>
            <li>
              <pre><code>
**<%= @show["title"] %>** [#<%= episode.data.number %> - <%= episode.title %>](<%= "//sunriserobot.net#{episode.url}" %>)

<%= episode.data.description %>

[website](<%= "//sunriserobot.net/#{@show["prefix"]}" %>) | [RSS](<%= "//sunriserobot.net/#{@show["prefix"]}/feed.xml" %>) | [iTunes](<%= @show["itunes"] %>) | [twitter](//twitter.com/sunriserobot)
                </code></pre>
              </li>
              <% end %>
            </ul>
            <hr class="hidden-sm hidden-md hidden-lg"/> <!-- Mobile-only horizontal rule -->
          </article> <!-- End of Recent Episodes -->
          <%= partial "layouts/host_sidebar" %>
        </div>
      </div>
    </section> <!-- End of Recent Episodes & Sidebar -->
    <%= partial "layouts/footer" %>
  </body>
</html>
