---
title: "Sunrise Robot | Podcasts for technologists, gamers, artists and cultural enthusiasts"
priority: 1.0
---
<article>
      <div class="container show-list">
        <div class="row">
          <div class="col-sm-7 col-md-8">
            <% data.shows.each_pair do |show, info| %>
            <div class="show-box">
              <div class="row">
                <div class="col-sm-10 col-md-5 col-lg-4 album-art">
                  <a href="<%= data.shows[show]["stub"] %>"><img class="img-responsive" src="/images/<%= data.shows[show]["album_art"] %>"/></a>
                </div>
                <div class="col-sm-11 col-md-7 col-lg-8">
                  <h2 class="show-box-title"><a href="<%= data.shows[show]["stub"] %>"><%= data.shows[show]["title"] %></a></h2>
                  <p class="show-box-desc"><%= data.shows[show]["description"] %></p>
                  <p><% if data.shows[show]["itunes"] %><a href="<%= data.shows[show]["itunes"] %>" class="btn btn-itunes" role="button" onclick="ga('send', 'event', 'subscribe_button', 'click', 'iTunes', 1);"><i class="fa fa-music"></i> iTunes</a> <% end %><a href="pcast://sunriserobot.net/<%= data.shows[show]["stub"] %>/feed.xml" class="btn btn-rss" role="button" onclick="ga('send', 'event', 'subscribe_button', 'click', 'RSS', 1);"><i class="fa fa-rss"></i> RSS</a></p>
                </div>
              </div>
            </div>
            <% end %>
          </div>
          <div class="col-sm-5 col-md-4">
            <div class="sidebar">
              <div class="sidebar-item">
                <h3>All Shows Feed</h3>
                <p>Use iTunes or any podcast rss reader to subscribe to the master feed of all Sunrise Robot shows:</p>
                <p><a href=""><i class="fa fa-fw fa-music"></i> All Shows iTunes Feed</a><br/><a href=""><i class="fa fa-fw fa-rss"></i> All Shows RSS Feed</a></p>
              </div>
              <div class="sidebar-item">
                <h3>Support the Network</h3>
                <p>If you like what we're doing, then help us keep the lights on and the episodes coming!</p>
                <p><a href="/support" class="btn btn-lg btn-support" onclick="ga('send', 'event', 'support', 'click', 'from_show', 1);"><i class="fa fa-thumbs-up fa-fw"></i> Support Us</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
</article>
